@model TMSApp.Models.MaintenanceRecord

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Maintenance Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VehicleID" class="control-label"></label>
                        <select asp-for="VehicleID" class="form-control" asp-items="ViewBag.VehicleList"></select>
                        <span asp-validation-for="VehicleID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ActivityType" class="control-label"></label>
                        <input asp-for="ActivityType" class="form-control" />
                        <span asp-validation-for="ActivityType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" type="date" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Cost" class="control-label"></label>
                        <input asp-for="Cost" class="form-control" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
